@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: Inter;
}

@layer base {
  :root {
    /* Màu nền */
    --background: 0 0 196%;

    /* Màu chữ */
    --foreground: 222.2 84% 4.9%;

    /* Màu chính và phụ */
    --primary: 195 99% 47%; /*Xanh da trời (#6DCFFB)  */
    --secondary: 340 73% 57%; /* Hồng (#E14177)  */

    /* Màu phụ trợ */
    --muted: 199 95 71%; /* Xanh da trời đậm (#01B3EF) 199 95 71%; */
    --accent: 208 98% 24%; /* Xanh dương đậm (#01427A) */
    --light: 210, 20%, 98%; /* Xám nhạt (#F9FAFB) */

    /* Màu viền và input */
    --border: 199 95% 71%;
    --input: 199 95% 71%;
    --ring: 208 98% 24%; /* Xanh dương đậm (#01427A) */

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%; /* Đen */
    --foreground: 249 61% 98%; /* Xám nhạt (#F9FAFB) */
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
